* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', Arial, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

body {
    background-color: #d9dcd6;
    
}

/* Need to move the UL, no idea why it's towards the left. */
.header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    width: 100%;
    
}

.header h1 {
    display: inline;
    flex: end;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
<<<<<<< HEAD
    
=======
    font-size: 32pt;

>>>>>>> icon/image-cleanup
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
    text-align: right;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Combine images  */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 960px;
    background-color: #2589bd;
    margin-bottom: 32px;
    margin-top: 0px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    
}

.benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Combine all sections into .content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    color: #ffffff;
   background-color: #0072bb;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;

}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}

.content img{
    max-height: 200px;
}

.content h2{
    margin-bottom: 20px;
    font-size: 36px; 
}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
