* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', Arial, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

body {
    background-color: #d9dcd6;

}

/*Header only*/
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    width: 100%;
}

header h1 {
    display: inline;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
    font-size: 32pt;
}

/*Nav links in the header*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    display: flex;
    flex: center;

}

nav ul li {
    display: inline-block;
}

/*Big image in the middle*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Aside section*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 960px;
    background-color: #2589bd;
    margin-top: 0px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;

}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Main three sections in the body of the page*/
article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    color: #ffffff;
    background-color: #0072bb;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Controls the images in the articles*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

article img {
    max-height: 200px;
}

/*Footer notes*/

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}

/*Media Queries*/

/*Aside element breaks here*/
@media screen and (min-width:824px) and (max-width: 960px) {
    aside {
        margin: 0px;
        padding: 0px;
        display: flex;
        word-wrap: break-word;
        width: 25%;
    }

    aside img {
        width: fit-content;
        flex: 0 1 auto;
    }

}

/*Article breaks here*/
@media screen and (min-width: 361px) and (max-width: 885px) {
    nav {
        width: 50%;
    }

    header h1 {
        width: 50%;
    }

    article {
        word-wrap: break-word;
    }

    article img {
        width: 25%;
    }

    aside {
        word-wrap: break-word;
        margin: 0px;
        padding: 0px;
    }

    aside img {
        width: fit-content;
        padding: 0px;
        margin: 0px;
    }
}