* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri' , Arial,'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    
}

body {
    background-color: #d9dcd6;

}

/*Header only*/
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    display: relative;
    width: 100%;
}

header h1 {
    display: inline;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
    font-size: 32pt;
}

/*Nav links in the header*/
nav {
    float: right;
    font-size: 20px;
    width: 75%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

nav ul li {
    display: inline-block;
    padding: 25px;
}

/*Big image in the middle*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

main {
    display: inline-block;
    width: 75%;

}

/*Aside section*/
aside {

    padding: 20px;
    margin-top: 0px;
    margin-right: 20px;
    width: 20%;
    height: 960px;
    background-color: #2589bd;
    color: #ffffff;
    float: right;
    text-align: center;

}

aside img {
    display: flex;
    flex: 0 2 auto;
    margin: 10px auto;
    max-width: 150px;
}

aside p {
    margin-bottom: 20px;
}

/*Main three sections in the body of the page*/
article {
    margin-left: 20px;
    color: #ffffff;
    background-color: #0072bb;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    width: 80%;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

article p {
    font-size: auto;
}

/*Controls the images in the articles*/
.float-left {
    float: left;
    margin-right: 25px;
    width: 33%;
}

.float-right {
    float: right;
    margin-left: 25px;
    width: 33%;
}

article img {
    max-height: 200px;
}

/*Footer notes*/

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}

/*Media Queries*/

/*Aside text breaks here*/
@media screen and (max-width: 1070px) {
    main{
        width: 70%;
    }
    
    aside{ 
        width: 30%;
        margin-right: 0;
    }
}

/*Large Devices*/

@media screen and (max-width: 992px) {
    article {
        margin-left: 0;
    }

    nav{
        background-color: #2a607c;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    header h1{
       display: flex;
       justify-content: center;
    }

}

/*Medium Devices*/
@media screen and (max-width: 768px) {
    main {
        width: auto;
    }

    aside {
        display: block;
        width: 100%;
        float: none;
    }

    article {
        display: block;
        width: 100%;
        padding: none;
        margin: 0;
    }

    nav{
        background-color: #2a607c;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    header h1{
       display: flex;
       justify-content: center;
    }
}

/*Small Devices*/

@media screen and (max-width: 600px) {
    aside {
        display: block;
        width: 100%;
        float: none;
    }

    article {
        display: inline-block;
        width: 100%;
        padding: none;
        margin: 0;
    }

    nav{
        background-color: #2a607c;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    header h1{
       display: flex;
       justify-content: center;
    }
}

/*Extra small devices*/

@media screen and (max-width: 500px) {
    aside {
        display: block;
        width: 100%;
        float: none;
    }

    article {
        display: block;
        width: 100%;
        padding: none;
        margin: 0;
    }

    nav{
        background-color: #2a607c;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    header h1{
       display: flex;
       justify-content: center;
    }
}